.workstoshowcase{
    display: flex;
    height: 110vh;
    overflow: hidden;
    position: relative;
}

.showcase-heading h1{
    font-family: Arvo;
    font-weight: 700;
    font-size: 46px;
    font-style: italic;
    line-height: 55.2px;
    text-align: center;
    color: #000000;
    margin-left: 80px;
}


.showcase-heading {
    text-align: center;
}

.healthcare{
    width: 797px;
    height: 552.9px;
    background-color:#0F559E;
    border-radius: 12px;
    margin-top: 150px;
    margin-left: -600px;
    position: relative;
    overflow: hidden;
}

.webapp{
    z-index: 1;
}

.healthcare-head h1{
    width: 400px;
    font-family: Arvo;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 120px;
}

.vertical-line{
    border-left: 2px dashed #9F9F9F;
    display: flex;
    width: 25px;
    height: 120px;
    margin-left: 460px;
    margin-top: -120px;
}

.performances h1{
    width: 103px;
    height: 61px;
    font-size: 40.96px;
    font-weight: 700;
    font-family: Arvo;
    line-height: 61.44px;
    color: #FFFFFF;
    margin-left: 520px;
    margin-top: -120px;
}

.performances h2{
    width: 88px;
    height: 44px;
    font-family: Inter;
    line-height: 22.34px;
    font-size: 14.9px;
    opacity: 50%;
    color: #FFFFFF;
    font-weight: 300;
    margin-left: 650px;
    margin-top: -80px;
    opacity: 50%;
}

.successs h1{
    width: 82pxpx;
    height: 61px;
    font-size: 40.96px;
    font-weight: 700;
    font-family: Arvo;
    line-height: 61.44px;
    color: #FFFFFF;
    margin-left: 520px;
    margin-top: 10px;
}

.successs h2{
    width: 74px;
    height: 44px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14.9px;
    line-height: 22.34px;
    color: #FFFFFF;
    opacity: 50%;
    margin-left: 650px;
    margin-top: -90px;
}


.lap-img img {
    margin-left: 40px;
    margin-top: 38px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.lap-img:hover img{
    transform: scale(1.2);
}


  